<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd.MM.yyyy HH:mm:ss} [%-5level] %logger{36}:%L - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${java.io.tmpdir}/bm3.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${java.io.tmpdir}/bm3.%d.%i.log.gz</fileNamePattern>
            <maxFileSize>1MB</maxFileSize>
            <totalSizeCap>10MB</totalSizeCap>
            <maxHistory>2</maxHistory>
        </rollingPolicy>

        <append>true</append>

        <encoder>
            <pattern>%d{dd.MM.yyyy HH:mm:ss} [%-5level] %logger{36}:%L - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.cache2k" level="warn">
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </logger>

    <root level="info">
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </root>
</configuration>
